.header {
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    box-shadow: 1px 0px 8px 0px #0000007d;
    position: sticky;
    z-index: 1;

    @media (max-width: 48em) {
        padding: 16px;
    }
}

.inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-md);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    &:last-child {
        padding-right: 0;
    }
}

.smallLink {
    font-size: var(--mantine-font-size-sm);
}

.linkLabel {
    margin-right: 5px;
}

.logo {
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: grey 1px 1px 1px 0;
}

.surHeader {
    padding-top: 10px;

    a {
        color: #8d8c8c;
    }
}