.box {
    width: 100vw;
    height: 45vh;
    overflow: hidden;
    top: 0;
    z-index: -1;
    background-color: lightgrey;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.49);
    position: relative;
}

.background {
    position: absolute !important;
    height: 100%;
    object-fit: cover;
    animation: moveBackground 40s linear infinite;
}

/* Keyframe animation */
@keyframes moveBackground {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.content {
    position: absolute;
    top: 15vh;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px black;
    z-index: 1;

    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .button {
        border-color: white;
        color: white;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}