.box {
    width: 100vw;
    height: 45vh;
    overflow: 'hidden';
    top: 0;
    z-index: -1;
    background-color: lightgrey;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.4901960784);
}

.background {
    position: relative !important;
}

.grid {
    background-color: white;
}